
.leftBar{
    position: sticky;
    top: 3.6rem;
    background-color: #181818;
    height: calc(100vh - 3.6rem);
    overflow: auto;
}
.leftBar::-webkit-scrollbar {
    display: none;
}
.left-container{
    width: 80%;
    margin: 0 auto;
}
.left-container .menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    margin: 20px 0;
}
.left-container .menu .user img{
    width: 40px;
    height: 40px;
}
.left-container .menu .user .icon{
    width: 25px;
    height: 25px;
    color: rgb(184, 159, 159);
    padding: 5px;
}
.left-container .menu .user{
    padding: 7px;
}
.left-container .menu .user .fauser {
    color: var(--facebook-btn);
 
}
.left-container .menu .user .bk {
    color: rgba(189, 49, 102, 0.795)
 
}
.left-container .menu .user .drp{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #2e2e2e;
    text-align: center;
    padding: 10px;
    color: #fff;
}

.left-container .menu .user:hover{
    background-color: rgb(80, 80, 80);
    border-radius: 7px;
    padding: 7px;
    transition: ease 0.6s;
    color: #d3d3d3;   
}
.left-container .menu .user .icon:hover{
    color: rgb(255, 255, 255);
}
.divider{

    border: 1px solid rgb(194, 194, 194);
   height: .4px;
   margin-bottom: 20px;
}
.menu .others{
    color: #e6e6e6;
    font-family: Arial, Helvetica, sans-serif;
}
/* Responsivenes */
@media(max-width:1024px){
    .left-container{
        width: fit-content;
        text-align: center;
    }
    .left-container h4{
        display: none;
    }
}
@media(max-width:768px){
    .leftBar{
      display: none;
    }
    }