.stories{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
}
.story{
    height: 170px;
    flex: 1;
    overflow: hidden;
    position: relative;
    user-select: none;
    border-radius: .5rem;
}
.story::after{
    position:absolute;
    content: '';
    height: 100%;
    width: 100%;
    bottom: 0;
    background: linear-gradient(transparent, transparent,rgba(4, 16, 189, 0.5));
}
.story .user{
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
    border: 4px solid var(--facebook-btn);
    border-radius: 50%;
}
.story>img{
    height: 100%;
    aspect-ratio: 1/1;
}
.story h5{
    color: #2e1fb1;
    position: relative;
    bottom: 30px;
    text-align: center;
    z-index: 1;
}
.userStory{
    margin-right: 10px;    
}
.userStory label{
    position: absolute;
    color: #fff;
    z-index: 1;
    font-size: 1.2rem;
    left: 50%;
    transform: translate(-50%,-50%);
    top: 70%;
    padding: 7px;
    border-radius:50% ;
    background-color: var(--facebook-btn);
    display: flex;
   
}
.userStory label input{
    display: none;
}
.userStory label h5{
    color: red;
    display: flex;
    justify-content: center;
}

@media (max-width:768px) {
    .story{
        height: 100% !important;
        border-radius: 50%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    
      
    }
    .story .user{
        display: none;
    }
    .story h5{
        display: none;
    }
    .userStory label{
        font-size: 1rem;
        display: flex;
    }
}