.rightBar{
height: calc(100vh - 3.6rem);
background-color: black;
position: sticky;
top: 3.6rem;
overflow: auto;
}
.rightBar::-webkit-scrollbar{
    display: none;
}
.rightbar-container{
    width: 80%;
  
}

@media (max-width:768px){
    .rightbar-container{
        width: 90%;
    }
    .rightBar{
      display: none;
    }
}