* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* General Body Styling */
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
 
    height: 100vh;
    margin: 0;
  }
  .Signup .header{
    color: var(--facebook-btn);
    flex: 1;
    display: flex;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 3rem;
    font-family:Arial, Helvetica, sans-serif;
  }
  .Signup{
    display: flex;
    margin: 0 auto;
    width: 30%;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 padding: 40px;

  }
  .Signup .card{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 10px 0px 8px 10px rgba(0, 0, 0, 0.2);
  }
  .Signup .card .signup-header{
    text-align: center;
  }
  .signup-header h1{
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    
  }
 .borderLine{
    width:109%;
    border: 1px thin rgb(255, 255, 255);
    text-align: left;
 margin-left: -20px;
 margin-top: 10px;
 margin-bottom: 15px;
  }
  .right .input-group{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

  }
  .right .input-group input{
background-color:transparent;
padding: 20px;
border: 1px solid #dfdfdf;
border-radius: 5px;
width: 47%;
height: 40px;
outline: #dfdfdf;
  }
  .right .input-group input::placeholder{
    font-size: 15px;
    color: #808080;;
  }
  .right .DOB{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .right .DOB label{
    color: rgb(107, 107, 107);
    margin: 10px 0px 10px 10px;
    font-weight: 100;
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
  }
  .right .DOB .dob-selection  select
  {
    margin-left: 20px;
    color: #808080;;
  }
  .right .DOB .dob-selection  select option{
    color: rgb(0, 0, 0);
    background-color: rgb(247, 247, 247);
    outline: #dfdfdf;
}
.right .DOB .dob-selection  select.month{
    background: rgb(255, 255, 255);
    border: 1px solid #dfdfdf;
    padding: 12px;
    padding-right: 55px;
    border-radius: 5px;
    height: 45px;
    outline: #dfdfdf;
}

  .right .gender{
    margin-top: 10px;
  }
  .right .gender label{
    color: rgb(107, 107, 107);
    margin: 10px 0px 10px 10px;
    font-weight: 100;
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
  }
  .right .gender .gender-values{
  display: flex;
    flex-direction: row;
    margin-left: 10px;
  }
  .right .gender .gender-values label{
    flex:1;
    color: rgb(107, 107, 107);
    justify-content: space-between;
    border: 1px solid #dfdfdf;
    padding: 10px;
    border-radius: 5px;
    outline: #dfdfdf;
  }
  .right .sensitive-data{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

  }
  .right .sensitive-data input[type="email"]{
   flex: 1;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    
    padding: 17px;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    outline: #dfdfdf;

  }
  .right .sensitive-data input[type="password"]{
    flex: 1;
     justify-content: space-around;
     background-color: rgb(248, 248, 248);
     padding: 17px;
     border: 1px solid #dfdfdf;
     border-radius: 5px;
     margin-top: 15px;
     outline: #dfdfdf;
   }
   .right .sensitive-data input::placeholder{
    font-size: 15px;
    color: #808080;;
   }
   .right .text-content
   {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 10px;
   }
   .right .text-content .p1{
    color: rgb(107, 107, 107);
    margin: 10px 0px 5px 10px;
    font-weight: 100;
    font-size: 13px;
    font-family:Arial, Helvetica, sans-serif;
   }
   .right .text-content .p2{
    color: rgb(107, 107, 107);
    margin: 0px 0px 5px 9px;
    font-weight: 100;
    font-size: 13px;
    font-family:Arial, Helvetica, sans-serif;
   }
   .right .text-content .p3{
    color: rgb(107, 107, 107);
    margin: 0px 0px 5px 10px;
    font-weight: 100;
    font-size: 13px;
    font-family:Arial, Helvetica, sans-serif;
   }
   .right .text-content .p1 a,.right .text-content .p2 a{
    color: var(--facebook-btn);
    text-decoration: none;
    font-weight: 300;
   }
   .right .signup-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
   }
   .right .signup-footer .btn-sign{
    background-color: rgb(17, 155, 40);
    width: 50%;
    height: 5vh;
   }
   .right .signup-footer .login-account{
    margin: 20px;
    color: var(--facebook-btn);
    text-decoration: none;
   }
   .login-click{
    text-decoration: none;
    margin: 20px;
    color: var(--facebook-btn);
    text-decoration: none;
   }
     /* Adding Responsiveness */
     @media (max-width:600px) {
        .Signup{
            width: 100%;
            display: flex;
            flex-direction: column;
            border-radius: 10px;
           
          }
          .right .DOB .dob-selection  select.month{
            background: rgb(255, 255, 255);
            border: 1px solid #dfdfdf;
            padding: 12px;
            padding-right: 25px;
            border-radius: 5px;
            outline: #dfdfdf;
        }
     }